{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<div class="container mt-5">
  <h1 class="text-center" style="font-family: 'Inconsolata', monospace;"><b>Quick Glance of our service</b></h1>
  <h3 class="text-center" style="font-family: Roboto">
    We at ACE infoSol provide wide range of software and web development service that help you to grow your buisness !
  </h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 red" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/upload.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>Web Development</h3>
                <span>ACE InfoSol is dedicated to your growth of buisness.Here in ACE InfoSol offer you a wide range of
                  the web app and for the robust web application need a expereinced web developer.So we have experienced
                  web developer.So come and develope you website.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 cyan" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/shopping.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>E-Commerce Development</h3>
                <span>ACE InfoSol is dedicated to your growth of buisness.Here in ACE InfoSol offer you a E-Commerce
                  website that helps your product to reach to every part of the world.E-Commerce Website should include
                  Safety,Reliablity,Scalablity, and features.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 orange" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/target.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>Digital Marketing/Blogging</h3>
                <span>ACE InfoSol provide a service of Digital marketing that help market or advertise your business
                  online, like through search, social media, and paid channels</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 blue" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/document.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>UI/UX Design</h3>
                <span>ACE InfoSol provide a service of UI/UX Design.Find the best UI/UX design agency and company in the
                  world for your next project. List of the best User Experience designers and UX consultants.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 blue" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/laptop.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>Coustom Software development</h3>
                <span>At ACE InfoSol we provide a wide range of the software and help you solve your problem.We provvide
                  the software for small to large industries.So come to infosol and get your solutions within
                  minutes.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow rounded mb-3 red" data-aos="fade-up" data-aos-easing="ease-in-back"
        data-aos-delay="100" data-aos-offset="0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <img src="{% static 'gif/cloud-network.gif' %}" height="100px" width="100px">
              </div>
              <div class="media-body text-right">
                <h3>ML/Ai Based Development</h3>
                <span>Innovation is never-ending and technologies like Artificial Intelligence (AI) are revolutionizing
                  the world. AI has shown promising trends over the years and it's impacting virtually every
                  industry.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <style>
    :root {
      --red: hsl(0, 78%, 62%);
      --cyan: hsl(180, 62%, 55%);
      --orange: hsl(34, 97%, 64%);
      --blue: hsl(212, 86%, 64%);
      --varyDarkBlue: hsl(234, 12%, 34%);
      --grayishBlue: hsl(229, 6%, 66%);
      --veryLightGray: hsl(0, 0%, 98%);
    }

    .red {
      border-top: 3px solid var(--red);
    }

    .cyan {
      border-top: 3px solid var(--cyan);
    }

    .orange {
      border-top: 3px solid var(--orange);
    }

    .blue {
      border-top: 3px solid var(--blue);
    }
  </style>