{% load static%}
<div class="container">
    <div class="header">
        <h1>Technologies we work with</h1>
        <p>From building a marketplace to serving millions of users to handling a live stream of 50K concurrent users,
            we solve complex problems using cutting edge technologies</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow rounded mb-3 red" data-aos="fade-right">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="{% static 'img/aj.png' %}" height="100px" width="100px" data-aos="zoom-in">
                                <img src="{% static 'img/react.png' %}" height="100px" width="100px" data-aos="zoom-in">
                            </div>
                            <div class="media-body text-right" >
                                <h3>Frontend Engineering</h3>
                                <span>Front end development is crucial in conveying this branding to customers. It needs
                                    to feature the same or similar colors, language, and graphics<br> to help customers
                                    easily associate a business's website with their products elsewhere.We work with JS
                                    library like Vanilla js,Angular JS,Type-Script.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card shadow rounded mb-3 red" data-aos="fade-right">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="{% static 'img/python.png' %}" height="100px" width="100px" data-aos="zoom-in">
                                <img src="{% static 'img/node js.png' %}" height="100px" width="100px" data-aos="zoom-in">

                            </div>
                            <div class="media-body text-right">
                                <h3>Backend Engineering</h3>
                                <span>The back end refers to parts of a computer application or a program's code that
                                    allow it to operate and that cannot be accessed by a user. Most data and operating
                                    syntax are stored and accessed in the back end of a computer system.
                                    We work with backend framwork or language like Node js,Pyhton,Java.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card shadow rounded mb-3 red" data-aos="fade-left">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="{% static 'img/sql.png' %}" height="100px" width="100px" data-aos="zoom-in">
                                <img src="{% static 'img/googlecloud.png' %}" height="100px" width="100px" data-aos="zoom-in">

                            </div>
                            <div class="media-body text-right">
                                <h3>Database</h3>
                                <span>A database is information that is set up for easy access, management and updating.
                                    Computer databases typically store aggregations of data records or files that
                                    contain information, such as sales transactions, product information.We work with
                                    Database
                                    library like my sql,google cloud etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card shadow rounded mb-3 red" data-aos="fade-left">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="{% static 'img/drupal.png' %}" height="100px" width="100px" data-aos="zoom-in">
                                <img src="{% static 'img/wordpress.png' %}" height="100px" width="100px" data-aos="zoom-in">

                            </div>
                            <div class="media-body text-right">
                                <h3>CMS/CRM</h3>
                                <span>What does a CMS system do?
                                    A content management system is for creating, managing, and optimizing your
                                    customers' digital experience. More specifically, a CMS is a software application
                                    that allows users to collaborate in the creation, editing, and production of digital
                                    content: web pages, blog posts, etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>